/*********************
**		GENERAL		**
**********************/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
	font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

li, a, p, button, input {
	font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Rubik", Helvetica, Arial, sans-serif;
}

img {
	max-width: 600px;
}

#body {
	color: #F0F0F0;
	width: 100%;
	height: 100%;
	display: block;
}



/*********************
**	TÃTULO LANDING	**
**********************/
.landing-container {
	width: 100%;
	height: 100%;
}

.landing-title {
	margin: 2em 5%;
	font-size: 7rem;
	line-height: .9em;
	position: relative;
	-webkit-text-stroke: 1px #F0F0F0;
	color: #0000;
}

.landing-title span {
	position: absolute;
	top: 0;
	left: 0;

	-webkit-text-stroke: none;
	color: #F0F0F0;

	/*VALOR A MODIFICAR PARA EL FILL*/

	clip-path: inset(66.6% 0 0 0);
}

/*********************
**		CONTADOR	**
**********************/

.landing-count {
	display: initial;
	position: relative;
	box-sizing: border-box;

	top: -10rem;
	left: 5%;
	margin-left: 7px;

	padding: 1em 2em;
	background-color: #F0F0F0;
	color: #070707;
}

#conteo-contenedor{
	height: 64px;
	width: 15%;
	background-color: #F0F0F0;
	height: auto;
}

#conteo-text {
	color: black;
	font-weight: bold;
	font-size: .8rem;
	text-align: center;
	align-content: center;
}

/*********************
**		CHROMA		**
**********************/

.chroma-container {
	padding: 2em;
	float: right;
	margin: 2em;
	position: relative;

	cursor: pointer;
}

.chroma-container:active .chroma.red,
.chroma-container:focus .chroma.red,
.chroma-container:hover .chroma.red {
	top: 0.25em;
	left: -0.25em;
}

.chroma-container:active .chroma.blue,
.chroma-container:focus .chroma.red,
.chroma-container:hover .chroma.blue {
	top: -0.25em;
	left: 0.25em;
}

.chroma {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	mix-blend-mode: lighten;

	transition: all 0.2s ease-in-out;
}

.chroma.red {
	background-color: #F00;
}
.chroma.green {
	background-color: #0F0;
}
.chroma.blue {
	background-color: #00F;
}

.chroma-button {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	background-color: #0000;
	border: none;
	color: #070707;

	text-align: center;
	cursor: pointer;
}

/*********************
**	ICONOS REDES	**
**********************/

.sin-bullet
{
    list-style-type:none;
	padding: 0%;
	margin: 0%;
}

.bi 
{
	color: white;
	font-size: 1.2em;
}

.sobre-y:hover {
	color: yellow;
}

.sobre-r:hover {
	color: rgb(255, 58, 44);
}

.sobre-b:hover {
	color:cyan;
}

/*********************
**	SCROLL OBRAS	**
**********************/

.card-columns {
	@include media-breakpoint-only(lg) {
	  column-count: 4;
	}
	@include media-breakpoint-only(xl) {
	  column-count: 5;
	}
  }

/*********************
**	PAGINA OBRAS	**
**********************/
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  @keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
  }
.general {
	display: flex;
}

.listacat span, #listacat p {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	list-style: square inside;
	margin:0;
	cursor:pointer;
	
}
.listacat span {
	 visibility: hidden; 
	opacity:0;
	font-weight: bold;
	transition:visibility 0s 0.75s, opacity 0.5s linear;
}
.listacat .itemlista {
	align-items: center;
	display: flex;
	height: 20vh;
}
.categorias {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -74px;
	position: fixed;
}
.cuadradito {
	width: 8px;
	height: 8px;
	border: 1px solid black;
	left: 35%;
	position: absolute;
	margin-left: 0;
	transition: margin-left 2s;
	cursor: pointer;
}
.cuadradito:hover{
	background-color:black;
	transition: background-color 2s;
}
.cuadradito:focus {
	background-color: black;
}
.cuadradito.active{
	background-color: black;
	left:80%;
	margin-left: 20px;
	transition: margin-left 2s;
	

	
}
 .itemnombre.active{
	visibility: visible;
	transition:opacity 1s linear;
	opacity: 1;
	
}
#realidadaumentada,#artevisual,#videojuegos {
	scroll-margin-top: 2.5rem;
}

/*********************
**		MIXTOS		**
**********************/


.titular {

	font-size: 8rem;
	font-weight: bold;
	
	-webkit-text-stroke: 1px #F0F0F0;
	color: #0000;
}

.enlace{
	color: aliceblue;
}

.enlace:hover{
	color: greenyellow;
}

p{
	font-size: 18px;
}

.centrar-vertical > p{
	display: flex;
	margin: auto;
	align-items:center;
	justify-content:center;
	padding: 0;
	margin: 0;
}

#tema-oscuro{
	background-color: #070707;
}

#tema-claro
{
	background-color: whitesmoke;
}

.logo-blanco
{
	color: #F0F0F0;
	text-decoration: none;
}

.logo-blanco:hover
{
	color: #F0F0F0;
}

.logo-negro{
	color: #070707;
	text-decoration: none;
	text-decoration: bolder;
}

.logo-negro:hover{
	color: #070707;
}

#fondo-textual
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	overflow: hidden;
}

#texto-borde
{
	font-size: 8rem;
	font-weight: bold;
	margin: 2em 5%;
	line-height: .9em;
	position: relative;
	-webkit-text-stroke: 1px #6d6d6d;
	color: #0000;
}
/*clip-path: inset(66.6% 0 0 0);*/	

/*********************
**		CARTAS DE OBRA		**
**********************/

.carta-obra
{
	color: white;
	text-decoration: none;
	font-weight:bold;
	font-size: larger;
}

.carta-obra:hover
{
	color: white;
	text-decoration: none;
	font-weight:normal;
}

.card-header
{
	margin: 2%;
	height: 50px;
	size: 60px;
}

.carta-autor
{
	background-color: white;
	height: min-content;
	position: absolute;
	display: table;
	padding: 12px 8px;
	margin-left: 4%;
	margin-top: 4%;

}

.carta-autor p
{
	color: rgb(0, 0, 0);
	font-size: 1rem;
	font-family: 'Courier New', Courier, monospace;
	display: table-cell;
	vertical-align: middle;
	font-weight: bolder;
}

.card-footer p
{
	font-size: 1rem;
}

.card-body hr{
	color: #f0f0f0;

}

.card
{
	border-radius: 0%;
}


