/*********************
**		GENERAL		**
**********************/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
	font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
	font-size: 15px;
}

li, a, p, button, input {
	font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
	font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Rubik", Helvetica, Arial, sans-serif;
}
img {
	max-width: 600px;
}

a {
	color: inherit;
}

@media screen and (max-width:1200px) {
	body, li, a, p {
		font-size: 12px;
	}
}

#body {
	color: #F0F0F0;
	background-color: #070707;
	width: 100%;
	height: 100%;
	display: block;
}

/*********************
**		HEADER		**
**********************/
.header-grid-container {
	grid-row-start: -1;
}

.header {
	width: 72px;
	height: 72px;
	font-size: 64px;
	text-align: center;
	font-family: "Rubik", Helvetica, Arial, sans-serif;
	font-weight: 500;
	color: #F0F0F0;
	text-decoration: none;
}

/*********************
**	TÍTULO LANDING	**
**********************/
.landing-container {
	max-width: 1280px;
	/* display: block; */
	margin: 0 auto;
}

.grid-title-container {
	grid-column: span 4/auto;
	grid-row-start: 3;
	text-align: left;
}
@media screen and (min-width: 1200px){
	.grid-title-container {
		grid-column: 3/11;
		text-align: center;
	}
}

.lading-title-container {
	display: block;
	margin: 0 auto;
	width: fit-content;
}

.landing-main {
	margin: 15rem 2.5rem;
}

.landing-title {
	/* margin: 2em 5%; */
	margin: 0;
	font-size: 8rem;
	font-weight: 600;
	line-height: .9em;
	position: relative;
	-webkit-text-stroke: 1px #646464;
	color: #0000;
}

@media screen and (max-width: 1200px) {
	.landing-title {
		font-size: 80px;
	}
}

.landing-title .arti {
	display: block;
}

@media screen and (min-width: 1200px){
	.landing-title .arti {
		display: inline;
	}
}

.landing-title span {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;

	-webkit-text-stroke: none;
	color: #F0F0F0;

	/*VALOR A MODIFICAR PARA EL FILL*/

	clip-path: inset(60% 0 0 0);
}

/*********************
**		CONTADOR	**
**********************/
.grid-count-container {
	grid-column: span 2/auto;
	grid-row-start: 2;
	margin-top: 15vh;
}

@media screen and (min-width: 1200px){
	.grid-count-container {
		grid-column: 2/4;
		margin-top: 0;
	}
}

.landing-count {
	position: relative;
	box-sizing: border-box;
	width: fit-content;
	font-weight: bold;

	padding: 8px 12px;
	background-color: #F0F0F0;
	color: #070707;
}

/*********************
**	 DESCRIPTION	**
**********************/
.grid-description-container {
	grid-column: 2/5;
	grid-row-start: 4;
}

.description-line{
	line-height: 16.8px;
	margin:0;
}
.description-line.light{
	font-weight: lighter;
}

@media screen and (min-width: 1200px){
	.grid-description-container {
		grid-column: 6/12;
	}
	.description-line{
		line-height: 18px
	}
}

/*********************
**		CHROMA		**
**********************/
.grid-chroma-container {
	grid-column-start: 4;
	grid-row-start: 5;
}

@media screen and (min-width: 1200px){
	.grid-chroma-container {
		grid-column-start: 12;
	}
}

.chroma-container {
	width: fit-content;
	padding: 2em;
	/* float: right; */
	margin: auto;
	position: relative;

	cursor: pointer;
}

.chroma-container:active .chroma.red,
.chroma-container:focus .chroma.red,
.chroma-container:hover .chroma.red {
	top: 0.25em;
	left: -0.25em;
}

.chroma-container:active .chroma.blue,
.chroma-container:focus .chroma.red,
.chroma-container:hover .chroma.blue {
	top: -0.25em;
	left: 0.25em;
}

@media screen and (max-width: 1200px){
	.chroma-container .chroma.red {
		top: 0.25em;
		left: -0.25em;
	}
	.chroma-container .chroma.blue {
		top: -0.25em;
		left: 0.25em;
	}
}

.chroma {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	mix-blend-mode: lighten;

	transition: all 0.25s ease-in-out;
}

.chroma.red {
	background-color: #F00000;
}
.chroma.green {
	background-color: #00F000;
}
.chroma.blue {
	background-color: #0000F0;
}

.chroma-button {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	background-color: #0000;
	border: none;
	color: #070707;

	text-align: center;
	cursor: pointer;
}
