@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  @keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
  }
.general {
	display: flex;
}
.listacat span, #listacat p {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	list-style: square inside;
	margin:0;
	cursor:pointer;
}
.listacat span {
	visibility: hidden;
	opacity:0;
	font-weight: bold;
	transition:visibility 0s 0.75s, opacity 0.5s linear;
	height: max-content;
}
.listacat .itemlista {
	align-items: center;
	display: flex;
	height: 20vh;
}
.categorias {
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -74px;
	/* position: fixed; */

	width: fit-content;

	position: sticky;
	align-self: flex-start;
	top:64px;
	/* bottom:-32px; */

	color: #070707;

	margin-top: 16px;
}
.cuadradito {
	width: 8px;
	height: 8px;
	border: 1px solid black;
	left: 80%;
	position: absolute;
	margin-left: 0;
	transition: margin-left 2s;
	cursor: pointer;
	float: right;
	padding: 0%;
	margin: 0%;
}
.cuadradito:hover{
	background-color:black;
	transition: background-color 2s;
}
.cuadradito:focus {
	background-color: black;
}
.cuadradito.active{
	background-color: black;
	left:80%;
	/* margin-left: 2px; */
	/* transition: margin-left 0.6666s ease-out; */
}
 .itemnombre.active{
	visibility: visible;
	transition: all 0.6666s ease-out;
	opacity: 1;
}
#realidadaumentada,#artevisual,#videojuegos {
	scroll-margin-top: 2.5rem;
}
